.photo-container-raise:hover .profile-picture {
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
}

.profile-details-section {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    margin-right: 20rem;
    gap: 40px;
    align-items: center;
    cursor: pointer;
}
  
.pd {
    margin-right: 10px;
}
  
.profile-photo-section {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.photo-container-raise {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 3rem;
    position: relative;
    overflow: hidden;
    padding: 2px;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 2);
}
  
.profile-picture-frame {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: lightcoral;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
  
.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    z-index: 2;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 3;
}

.edit-icon {
    cursor: pointer;
    color: white;
    font-size: 2rem;
}

/* .photo-container-raise:hover .profile-picture {
    brightness: 0.5;
} */

.photo-container-raise:hover .overlay {
    opacity: 1;
}

.parent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
  
.profile-form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
  
.form-field label {
    margin-bottom: 0.5rem;
}
  
.save-button {
    background-color: #F6613F;
    height: 45px;
    width: 100%;
}
  
.custom-textfield {
    margin-bottom: 1rem;
}
  