.hero-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  border-radius: 8px;
}

.small-image {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.small-image-clock, .small-image-arrow {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

/* Positioning for large screens */
.image1 {
  top: 5%;
  right: -4%;
}

.image2 {
  top: 40%;
  right: -7%;
}

.image3 {
  bottom: 10%;
  left: 95%;
}

.image4 {
  top: 5%;
  left: 60%;
  transform: translateX(-50%);
}

.image5 {
  bottom: -5%;
  right: 35%;
  transform: translateX(50%);
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
  .small-image {
    width: 20px;
    height: 20px;
  }

  .small-image-clock, .small-image-arrow {
    width: 60px;
    height: 60px;
  }

  .image1 {
    top: 25%;
    right: 10%;
  }

  .image2 {
    top: 50%;
    right: 5%;
  }

  .image3 {
    bottom: 15%;
    left: 90%;
  }

  .image4 {
    top: 25%;
    left: 15%;
    transform: translateX(-50%);
  }

  .image5 {
    bottom: 5%;
    right: 75%;
    transform: translateX(50%);
  }
}
